@{
    ViewData["Title"] = "Home Page";
}
<style>
    #home-page {
        background-image: url(background-home-page.jpg);
        height: 100vh;
        margin-top: -73px;
        background-size: cover;
        padding: 0px;
    }

    .container {
        padding: 0px !important;
        border:none;
    }
    .pb-3, .py-3 {
    padding-bottom: 0px!important;
</style>
<div id="home-page">
</div>


